.thumbnail {
  margin: 0 auto 20px;
  width: 800px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thumbnail-dashboard {
  display: block;
  width: 600px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 0;
  margin: 10px 0;
}
.thumbnail-dashboard:hover {
  margin: 8px -2px 12px 2px;
  box-shadow: 0px 4px 8px -1px rgb(0 0 0 / 20%);
}
.thumbnail-dashboard iframe {
  border: none;
  z-index: 1;
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.mask {
  width: 600px;
  height: 250px;
  position: absolute;
  z-index: 2;
}
