#task-modal-content {
  width: 310px;
  max-height: 610px;
  background-color: white;
  margin: 100px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 125px;
}
