body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.task-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dashboard {
  display: flex;
  gap: 25px;
  padding: 0 25px;
  margin-top: 180px;
  position: relative;
}
.main-title {
  text-align: center;
}
